In [1]:
# a) To begin, load in the Boston data set, which is part of the ISLP library.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ISLP import load_data
boston = load_data("Boston")
boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

In [ ]:
# b) How many rows are in this data set? How many columns? What do the rows and columns represent?

# answer: 506 rows and 13 columns. The rows represent

In [ ]:
# c) Make some pairwise scatterplots of the predictors (columns) in this data set. Describe your findings.

In [ ]:
# d) Are any of the predictors associated with per capita crime rate? If so, explain the relationship.

In [ ]:
# e)  Do any of the suburbs of Boston appear to have particularly high crime rates? Tax rates? Pupil-teacher ratios? 
# Comment onthe range of each predictor.

In [ ]:
# f) How many of the suburbs in this data set bound the Charles river?

In [ ]:
# g) What is the median pupil-teacher ratio among the towns in this data set?

In [ ]:
# h) Which suburb of Boston has lowest median value of owner occupied homes? 
# What are the values of the other predictors for that suburb, and how do those values compare to the overall ranges for those predictors?
# Comment on your findings.

In [ ]:
# I) In this data set, how many of the suburbs average more than seven rooms per dwelling? More than eight rooms per dwelling?
# Comment on the suburbs that average more than eight rooms per dwelling.